
body{
    font-family: 'Poppins', sans-serif;
    justify-content : center;
    align-items: center;
    padding: 50px;
}

.container{
    text-align: center;
    margin-bottom: 30px;
}

label{
    font-weight: 700;
    margin-bottom: 20px;
    color: whitesmoke;
}

form{
    background-color: #1e1a1f;
    border-radius: 20px;
    padding: 20px;
    -webkit-box-shadow: -8px 5px 15px 5px #959393; 
    box-shadow: -8px 5px 15px 5px #a9a8a8;
}
